name: Prettier formatting

on:
    push:
        branches:
            - '*'
    pull_request:
        branches:
            - '*'

jobs:
    prettier:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Install Node.js
              uses: oven-sh/setup-bun@v2

            - name: Install dependencies
              run: bun i

            - name: Check code format
              run: bun x prettier --check .
